<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.lanisnik.restaurantorder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RestaurantOrderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menuitem.list.MenuItemsListActivity"
            android:label="@string/categories_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menuitem.details.MenuItemDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.foodcategory.CategoriesListActivity"
            android:label="@string/categories_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.password.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customer.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customer.password.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.address.AddressesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.shoppingcart.OrderPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.send.SendOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.order.success.OrderSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDl7XJomIXoyJhQtcAOmKZVbwW984jgV4" />

    </application>

</manifest>